<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501565173459-t6qg5mgbgrqqtcmcfbl1kra7brm8ai7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501565173459-t6qg5mgbgrqqtcmcfbl1kra7brm8ai7s</string>
	<key>API_KEY</key>
	<string>AIzaSyAzkPRLLLh5NVJXY3R-p8SmKjhZTizDgUk</string>
	<key>GCM_SENDER_ID</key>
	<string>501565173459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KSU.Talaqah</string>
	<key>PROJECT_ID</key>
	<string>talaqah</string>
	<key>STORAGE_BUCKET</key>
	<string>talaqah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:501565173459:ios:f88ba670f2881e9b16ee26</string>
	<key>DATABASE_URL</key>
	<string>https://talaqah.firebaseio.com</string>
</dict>
</plist>
